.html {
  font-size:calc(100vw / 390);

}
.home {
  font-size: 12rem;
  height:100vh;
  padding-top: 5vh;;
  background: linear-gradient(120deg, rgba(255,247,219,1) 0%, rgba(207,222,243,1) 70%);
}

 
