.container {
  width: 390rem;
  background: var(--linear-blue);
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.imageFloat {
  position: absolute;
  opacity: .7;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12rem;

  span{
    font-size:24rem;
    font-weight: 700;
  }
}
.logoImg {
  width: 34rem;
  height: 34rem;
  filter: invert(100%) sepia(0%) saturate(18%) hue-rotate(326deg) brightness(106%) contrast(106%);
}
