.container {
  background: #eaecf0;
  color: black;
  font-size: 14rem;
  min-height: 100vh;

  .content {
    margin-top: 30rem;
    width: 366rem;
    margin-inline: auto;
    height: 430rem;
 
    
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100%;
    .inputFields {
      display: flex;
      flex-direction: column;

      .inputItem {
        display: flex;
        flex-direction: column;
        height:72rem;
        position: relative;
        width:345rem;
      
        input {
          background-color: transparent !important;
          border-bottom: gray 1.5rem solid;
          transition: all linear .6s;
          font-size:12rem;
          height:50%;
          
          &:focus {
            outline: none;
            border-bottom: green 1.5rem solid;
          }
        }

        .removeIcon{
            position: absolute;
            right:10rem;
            width:24rem;
            height:24rem;
            bottom:20rem
        }
        label {
          font-size: 16rem;
          font-weight: 700;
        }

        .forgotPass{
            position: absolute;
            top:100%;
            color:#33333350;
            cursor:pointer;
        }
      }
    }

    .formFooter span {
      color: #3843ff;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom:12rem;

      align-items: center;
    }
    .submitButton {
        
      background: #3843ff;
      color: white;
      width: 345rem;
      margin:6rem auto 0;
      border-radius: 20rem;
      height: 52rem;
    }
  }
}
