.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo {
    display: flex;
    align-items: center;
    gap: 10rem;
    span{
        color:#0083b0;
        font-size: 20rem;
        padding-top:2rem;
        font-weight: 800;
    }
  }

  .logoImg {
    width: 30rem !important;

   filter: invert(66%) sepia(77%) saturate(888%) hue-rotate(336deg) brightness(105%) contrast(104%);
  } 
  .subtitle{
    font-weight: 400;
    color:#0083b090;
    font-size: 16rem;;
  }
}
